@model SanaEnterNameOutputHello.Models.UserNameModel

<form method="post">
    <div class="form-group">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
